@import "tailwindcss";

@config "../tailwind.config.js";

.swiper-pagination-bullet {
  background-color: theme("colors.primary.DEFAULT") !important;
  opacity: 0.5;
}
.swiper-pagination-bullet-active {
  background-color: theme("colors.primary.DEFAULT") !important;
  opacity: 1;
}
